.userCard{
    background-color: #FFFAFA;
    border: 3px solid black;
}

.userPhoto{
    background-color: #696969;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 30px;
}

.userProfile{
    padding: 10px;
}


.userName{
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.userText{
    color: #808080	;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.userStats{
    color: black;
    font-size: 30px;
    margin: 0;
    display: flex;
    padding: 0;

}

.userStatsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid #808080;
    background-color: #C0C0C0;
    width: 120px;
    padding: 10px;
}

.userListBold{
    font-weight: bold;
}